<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Create your own watch lists</h1>
    <%= link_to "New List", new_list_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://media.istockphoto.com/id/1447134066/photo/contemporary-art-collage-creative-design-in-retro-style-beautiful-young-couple-man-and-woman.webp?b=1&s=170667a&w=0&k=20&c=5gF8Mofwe0R-CyoillKyuGlLBOA4VqEIPlqileudidw=')">
      <%=link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
