<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1494642262/de/foto/menschen-im-kinosaal-mit-leerer-wei%C3%9Fer-leinwand.jpg?s=2048x2048&w=is&k=20&c=5F9mdmoO3RsPxIanAMILpL-wMj22atpQlcBFNBWmAM4=)">
  <%= @list.name %>
</div>
<div class="m-2">
  <%= link_to "Add Bookmark", new_list_bookmark_path(params[:id]), class: "btn btn-primary ms-2 "%>
</div>
